<h1>О талисманах</h1>
<div class="flexcroll" id="mycustomscroll2">
<%= raw sanitize RedCloth.new(@information.content).to_html %>
</div>

<% if logged_in? -%>
  <%= link_to 'Edit', edit_information_path(@information) %> 
<% end %>
<%= link_to "Вернуться назад", :back %>
