body {background-color: #e8ba68;}
#menu {
  background: #BDC299;
  padding: 40px;
  margin: 40px auto;
  width: 880px;
}
#content {
  background: #BDC299;
  padding: 40px;
  margin: 40px auto;
  width: 880px;
}

