<ul>
  <% @articles.each do |a| %>
    <li><strong><%= link_to a.name, a, :class => 'order_list' %></strong><%= button_to 'Удалить из корзины', order_path(a.id), :method => :delete %></li>
  <% end %>
</ul>

<%= link_to 'Оформить заказ', new_order_path if @articles.present? %>

