<div class="wrap for-content home">
  <div class="content">
<% if @index_html %>
  <%= raw sanitize @index_html %>
<% end %>
<% if logged_in? -%>
  <%= link_to 'Edit', edit_page_path(@index) %>
<% end %>
  </div>
  <div class="content-after"></div>
  <div class="new">
    <h1>Новинки</h1>
    <div class="contents">
      <ul>
        <li><a href="#"><img src="images/talisman-1.jpg" width="160" height="120" alt=""></a></li>
        <li><a href="#"><img src="images/talisman-1.jpg" width="160" height="120" alt=""></a></li>
        <li><a href="#"><img src="images/talisman-1.jpg" width="160" height="120" alt=""></a></li>
        <li><a href="#"><img src="images/talisman-1.jpg" width="160" height="120" alt=""></a></li>
        <li><a href="#"><img src="images/talisman-1.jpg" width="160" height="120" alt=""></a></li>
      </ul>
    </div>
  </div>
  <div class="friends">
    <h1>Друзья сайта</h1>
    <div class="contents"></div>
  </div>
  <div class="counters-top"></div>
  <div class="counters">

  </div>
</div>
